/* color: #1c1f4c 
background: #fec201
font-family: 'Playfair Display', serif;
*/

/* h1 {
  font-family: var(--ff-accent);
  font-weight: var(--fw-reg);
  color: #1c1f4c;
  font-size: 2rem;
  margin: 0;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */
:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Roboto Mono', monospace;
  --ff-accent: 'Playfair Display', serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: #fff;
  --clr-dark: #1c1b1b;
  --clr-accent: #f65058ff;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  /* background-image: url('palmtrees.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}

section {
  padding: 3em 2em;
    /* padding: 0 2em; */
}

strong {
  font-weight: var(--fw-bold);
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.navbar-brand {
  font-family: var(--ff-accent);
  font-weight: var(--fw-reg);
  color: #1c1f4c;
  font-size: 2rem;
  margin: 0;
}

.section-title {
  margin-bottom: 0.25em;
}

.section-title-intro {
  font-weight: var(--fw-reg);
}

.section-title-intro strong {
  display: block;
}

.section-subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section-subtitle-intro,
.section-subtitle-about {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section-subtitle-work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* Intro section */
.intro {
  /* sizing */
    width: 100vw;
    height: 100vh;

    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;

    /* text styles */
    text-align: center;

    /* background */
    /* padding: 100px; */
    background-image: url(palmtrees.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inner-intro {
  /* max-width: 1000px; */
  /* margin: 0 auto; */
}

/* .intro-img {
  min-width: 250px;
  border-radius: 50%;
  box-shadow: var(--bs);
  max-width: 100%;
} */
/* About me */

.about {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.about-img {
  box-shadow: var(--bs);
  display: inline-block;
  max-width: 100%;
}

@media (min-width: 600px) {
  .about {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      'title img'
      'subtitle img'
      'text img';
    grid-column-gap: 2em;
  }

  .section-title-about {
    grid-area: title;
    /* margin-bottom: 0; */
  }

  .section-subtitle-about {
    grid-column: 1 / -2;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 1em);
    margin-bottom: 0;
  }

  .about-img {
    grid-area: img;
    position: relative;
    /* z-index: 2; */
  }
}

/* Nav Bar */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Media Query - change flex-dir above to column and mq to row */

header {
  background: #fec201;
  padding: 2em 0;
}

footer {
  background: #fec201;
  color: #1c1f4c;
  text-align: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-list-item {
  margin-left: 2em;
}

.nav-link {
  text-decoration: none;
  color: #1c1f4c;
  font-weight: 700;
  padding: 0.25em 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff;
}

.current-page {
  border-bottom: 2px solid #fff;
}

.current-page:hover {
  color: #1c1f4c;
}

/* Work */

.work {
  background: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

