body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* --- Typography --- */

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #1c1f4c;
  font-size: 2rem;
  margin: 0;
}


/* .subtitle {
  font-weight: 700;
  color: #1c1f4c;
  font-size: .75rem;
  margin: 0;
} */

/* --- Layout --- */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 675px) {
  .container-flex {
    flex-direction: row;
  }
}

/* --- navigation --- */

header {
  background: #fec201;
  padding: 2em 0;
}

@media (max-width: 675px) {
  header {
    text-align: center;
  }
}

footer {
background: #fec201;
color: #1c1f4c;
text-align: center;
padding: 2em 0;
position: fixed;
bottom: 0;
width: 100%;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-list-item {
  margin-left: 2em;
}

.link {
  text-decoration: none;
  color: #1c1f4c;
  font-weight: 700;
  padding: 0.25em 0;
}

.link:hover,
.link:focus {
  color: #fff;
}

.current-page {
  border-bottom: 2px solid #fff;
}

.current-page:hover {
  color: #1c1f4c;
}

@media (max-width: 675px) {
  .nav-list {
    flex-direction: column;
  }

  .nav-list-item {
    margin: .4em 0;
  }
}

